/out
customer/output/
merchant/output/
/.gradle
local.properties
leakcanary-analyzer/build/
leakcanary-android/build/
leakcanary-watcher/build/
bin
gen
output
.idea/copyright/
.idea/libraries/
.idea/scopes/
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
build
